<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CSJ35ServeltContextDemo</display-name>
  
  
  
  <context-param>
  <param-name>userName</param-name>
  <param-value>admin</param-value>
  </context-param>
  <context-param>
  <param-name>userPassword</param-name>
  <param-value>cyber@123</param-value>
  </context-param>
  
  
  <servlet>
  <servlet-name>bank</servlet-name>
  <servlet-class>controller.BankServer</servlet-class>
  <init-param>
  <param-name>pin</param-name>
  <param-value>6523283</param-value>
  </init-param>
  
  <init-param>
  <param-name>server-admin</param-name>
  <param-value>admin@7654</param-value>
  </init-param>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>bank</servlet-name>
	<url-pattern>/serverDetails</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>adminLogin.html</welcome-file>
    
  </welcome-file-list>
</web-app>


